header{
    height: 100px;
}
.header{
    height: inherit ;
    display: inline ;
}
*{
    border: 2px solid skyblue;
    margin: 0px ;
}
.header{
    height:inherit;
    display:inline-block;
    border-color: lawngreen;

}
header>div{
    background-color: lightseagreen;

}
header+div{
    border: 10px solid red;

}
header ~ div {
    text-align: right;
}
input[value="hide"]: :checked~ img{
    display: none;
}

input[value="hide"]: :checked~ img
{
    display: none;
}

figure{
 width:10px;
 background-color: rgba(0,0,0,255);
}