h1{
    background-color:aquamarine;
    color:coral;
    text-align:center;
}
h2{
    margin-right: 1150px;
    background-color:coral;
    color:darkblue;
}
h3{
    margin:left 300px;
    background-color:coral
    color:darkblue;
    padding:
}