body {
    margin: 0px;font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5,h6 {
    margin-top: 0px;
}
.left {
    float: left;
}
.right {
    float: right;
}
ul{
    margin: 0px;padding: 0px;list-style: none;
}
a {
    text-decoration: none;
}
.row:after {
    content: "";clear: both;display: block;
}
.w-100 {
     width: 100%;
}
.container {
    width: 900px;
    margin: 0 auto;
}
.row:after {
    content: "";clear: both;display: block;
}
.w-100 { 
    width: 100%;
}
#header {
    background-color: #2874F0;padding: 8px 0px;
} 
#header a {
    color: #fff;
}
#header .logo {
    width: 8%;
}
#header .logo .explore {
    font-size: 12px;position: relative;font-style: italic;display: block;
}
#header .logo .explore span {
    color: #ffe500;
}
#header .logo .explore img {
    position: absolute;top: -2px;right: 0px;width: 13%;
}
#header .search {
    width: 50%;margin-left: 20px;position: relative;
}
#header .search input[type="text"] {
    width: 100%;padding: 0px 5px;height: 30px;
}
#header .search button {
    position: absolute;right: 0px;border: none;background-color: transparent;top: 10px;
}
#header .userSection {
    width: 32%;margin-left: 20px;padding-top: 8px;
}
#header .userSection ul li {
    display: inline-block;margin: 0px 10px;}
#main-navigation {border-bottom: 1px solid #000;position: relative;
}
#main-navigation .dropdown {
    position: absolute;width: 96%;left: 0px;padding: 20px;display: none; 
}
#main-navigation .dropdown ul li {
    display: block;margin: 0px;
}
#main-navigation ul li {
    display: inline-block;margin: 0px 24px;
}
main-navigation ul li a {
    color: #000;display: block;padding: 10px 0px;font-size: 14px;
}
#main-navigation .dropdown .col:nth-child(even) {
    background-color: #F9F9F9;
}
#main-navigation ul li:hover .dropdown {
    display: block; 
}
#main-navigation .dropdown .col {
    width: 16%;padding: 20px;
}
img{
    height: 50px;
    width: 200px;
}